<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties resource="db.properties"/>


    <environments default="development">
        <environment id="${environment}">
            <transactionManager type="${transaction}"/>
            <dataSource type="${pool}">
                <property name="driver" value="${ConnectionManager.driver}"/>
                <property name="url" value="${ConnectionManager.connection}"/>
                <property name="username" value="${ConnectionManager.user}"/>
                <property name="password" value="${ConnectionManager.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="org/fbi/hmfsjz/repository/mapper/CommonMapper.xml"/>
        <mapper resource="org/fbi/hmfsjz/repository/mapper/HmfsJzActDelMapper.xml"/>
        <mapper resource="org/fbi/hmfsjz/repository/mapper/HmfsJzActMapper.xml"/>
        <mapper resource="org/fbi/hmfsjz/repository/mapper/HmfsJzActTxnMapper.xml"/>
        <mapper resource="org/fbi/hmfsjz/repository/mapper/HmfsJzBillMapper.xml"/>
        <mapper resource="org/fbi/hmfsjz/repository/mapper/HmfsJzDrawMapper.xml"/>
        <mapper resource="org/fbi/hmfsjz/repository/mapper/HmfsJzInterestMapper.xml"/>
        <mapper resource="org/fbi/hmfsjz/repository/mapper/HmfsJzIrtMapper.xml"/>
        <mapper resource="org/fbi/hmfsjz/repository/mapper/HmfsJzRefundMapper.xml"/>
        <mapper resource="org/fbi/hmfsjz/repository/mapper/HmfsJzVoucherMapper.xml"/>
    </mappers>

</configuration>